
poses/__pycache__/colmap_read_model.cpython-37.pyc
poses/__pycache__/__init__.cpython-37.pyc
poses/__pycache__/*.pyc
__pycache__/*
__pycache__/*
poses/__pycache__/*.pyc




.vscode/
.idea/

tmp/*

script/__pycache__/*

data/*

output/*
tmp/*

third_party/infinite_simul_spacetime_gaussian/output/*
third_party/infinite_simul_spacetime_gaussian/tmp/*
third_party/infinite_simul_spacetime_gaussian/script/__pycache__/*
third_party/infinite_simul_spacetime_gaussian/poses/__pycache__/*
third_party/infinite_simul_spacetime_gaussian/poses/__pycache__/colmap_read_model.cpython-37.pyc
